    {{#requiredVars}}
    {{name}}: {{{dataType}}}  = field(default=None, metadata=config(field_name="{{baseName}}"))
    {{/requiredVars}}
    {{#optionalVars}}
    {{name}}: {{{dataType}}} = field(default=None, metadata=config(field_name="{{baseName}}")) # noqa: E501
    {{/optionalVars}}
