# coding: utf-8

{{> partial_header }}

import re  # noqa: F401
import sys  # noqa: F401

{{#models}}
{{#model}}
{{#imports}}
{{#-first}}
{{/-first}}
{{{.}}}
{{/imports}}


{{^interfaces}}
{{#isArray}}
{{> model_templates/model_simple }}
{{/isArray}}
{{#isEnum}}
{{> model_templates/model_simple }}
{{/isEnum}}
{{#isAlias}}
{{> model_templates/model_simple }}
{{/isAlias}}
{{^isArray}}
{{^isEnum}}
{{^isAlias}}
{{> model_templates/model_dataclass }}
{{/isAlias}}
{{/isEnum}}
{{/isArray}}
{{/interfaces}}
{{#interfaces}}
{{#-last}}
{{> model_templates/model_composed }}
{{/-last}}
{{/interfaces}}
{{/model}}
{{/models}}
